<%= nested_form_for(@risk) do |f| %>
  <% if @risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risk.errors.count, "error") %> prohibited this risk from being saved:</h2>

      <ul>
      <% @risk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.select :location_id, Location.all.map {|x| [x.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.select :type_id, Type.all.map {|x| [x.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :from_time %><br />
    <%= f.time_select :from_time %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :to_time %><br />
    <%= f.time_select :to_time %>
  </div>
  
  <br />
  
  <div>
  <%= f.fields_for :periods do |period_form| %>
    <br />
    <% hash = Hash[Period.probability_strings.map.with_index.to_a] %>
    <%= period_form.label "From:"%><br />
    <%= period_form.date_select :from_date %><br />
    <%= period_form.time_select :from_time %><br />
    <%= period_form.label "To:"%><br />
    <%= period_form.date_select :to_date %><br />
    <%= period_form.time_select :to_time %><br />
    <%= period_form.label "Probability"%><br />
    <%= period_form.select :probability, Period.probability_strings.map {|x| [x.to_s, hash[x.to_s]]} %><br />
    <%= period_form.label "Impact"%><br />
    <%= period_form.number_field :impact %><br />
    <%= period_form.link_to_remove "Remove this period" %>
  <% end %>
  <p><%= f.link_to_add "Add a period", :periods %></p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
