<table>
  <tr>
    <th>Location</th>
    <th>Description</th>
    <th>Type</th>
    <th>From date</th>
    <th>From time</th>
    <th>To date</th>
    <th>To time</th>
    <th>Periods</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% risks.each do |risk| %>
  <tr>
    <td><%= risk.location.name %></td>
    <td><%= risk.description %></td>
    <td><%= risk.type.name %></td>
    <td><%= risk.from_date %></td>
    <td><%= risk.from_time %></td>
    <td><%= risk.to_date %></td>
    <td><%= risk.to_time %></td>
    <td><%= risk.periods.count %></td>
    <td><%= link_to 'Show', risk %></td>
    <td><%= link_to 'Edit', edit_risk_path(risk) %></td>
    <td><%= link_to 'Destroy', risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>